{
    "logger": {
        "level": "${LOGGGER_LEVEL}",
        "logfile": "${LOGGGER_FILE}"
    },
    "grpc": {
        "host": "${GRPC_HOST}",
        "port": "${GRPC_PORT}"
    },
    "http": {
        "host": "${HTTP_HOST}",
        "port": "${HTTP_PORT}"
    },
    "storage": {
        "useDb": ${STORAGE_USE_DB},
        "host": "${STORAGE_HOST}",
        "port": ${STORAGE_PORT},
        "user": "${STORAGE_USER}",
        "password": "${STORAGE_PASSWORD}",
        "database": "${STORAGE_DB_NAME}"
    }
}
