{
    "logger": {
        "level": "${SENDER_LOGGGER_LEVEL}",
        "logfile": "${SENDER_LOGGGER_FILE}"
    },
    "rabbit": {
        "host": "${SENDER_RABBIT_HOST}",
        "port": "${SENDER_RABBIT_PORT}",
        "user": "${SENDER_RABBIT_USER}",
        "password": "${SENDER_RABBIT_PASSWORD}",
        "queue": "${SCHEDULER_RABBIT_QUEUE}"
    }
}
